<div id="posts">
  <% @posts.each do |post| %>
    <div class="post">
      <div class="post_image">
        <%= link_to (image_tag post.image.url(:small)), post_path(post) %>
      </div>
      <div class="post_content">
        <div class="title">
          <h2>
            <%= link_to post.title, post_path(post) %>
          </h2>
        </div>
        <div class="data clearfix">
          <p class="username">
            Shared by
            <%= post.user.name %>
          </p>
          <div class="container">
           <p><%= post.get_upvotes.size %></p>
            <%= link_to "Like", like_post_path(post), method: :get %>

          <% if current_user.try(:admin?)%>
            <%= link_to 'Show', post %>
            <%= link_to 'Edit', edit_post_path(post) %>
            <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% else %>
            <%= link_to 'Show', post %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
