<p id="notice"><%= notice %></p>

<% if user_signed_in? %>
<br />
<div class="container">
  <%= link_to 'New Post', new_post_path, class: "btn btn-primary btn-block" %>
</div>
<br />

    <% @posts.each do |post| %>
<div class="imges">
        <%= link_to (image_tag post.image.url(:medium)), post_path(post) %>
        <h2>
</div>
          <%= link_to post.title, post_path(post) %>
        </h2>

          Submitted by
          <%= post.user.email %>

  <% end %>
<% end %>




