<p id="notice"><%= notice %></p>

<% if user_signed_in? %>

<h1>Listing Posts</h1>


<div id="posts">
    <% @posts.each do |post| %>
      <div class="post">
        <div class="post_image">
          <%= link_to (image_tag post.image.url(:small)), post_path(post), class: "img-responsive" %>
        </div>
      <div class="post_content">
        <div class="title">
          <h2>
            <%= link_to post.title, post_path(post) %>
          </h2>
        </div>
        <div class="data clearfix">
          <p class="username">
            Requested: <%= post.get_upvotes.size %>
          </p>
          <p class="buttons">
            <span>
              <%= link_to "Like", like_post_path(post), method: :get %>
            </span>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>



<%= link_to 'New Post', new_post_path %>

<% else %>

<h1>Listing Posts</h1>

<% end %>