<p id="notice"><%= notice %></p>
<br />
<div class="container">
  <%= link_to 'New Post', new_post_path, class: "btn btn-primary btn-block" %>
</div>
<br />

<div>
	<%= image_tag @post.image.url(:medium) %>
</div>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
<%= @post.user.name %>
<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>
<p><%= @post.get_upvotes.size %></p>
<%= link_to "Like", like_post_path(@post), method: :get %>

<hr />


<h3>
	<%= pluralize(@post.comments.count, "Comment") %>
</h3>
	<%= render @post.comments %>
<hr />
<h4>Add a comment: </h4>
<%= render "comments/form" %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
