<p id="notice"><%= notice %></p>
<br />

<div class="container">
  <%= link_to 'New Post', new_post_path, class: "btn btn-primary btn-block" %>
</div>
<br />


<div class="col-md-8 col-md-offset-2">
  <div class="panel panel-default">
    <div class="panel-heading pin_image">
		<%= image_tag @post.image.url(:medium) %>
    </div>


    <div class="panel-body">
      <h1>
        <%= @post.title %>
      </h1>
      <p class="description">
        <%= @post.content %>
      </p>
      </p>
		<%= @post.user.name %>
	  <p>
	  	<p>
		  <strong>Content:</strong>
		  <%= @post.content %>
		</p>
    </div>
    <div class="panel-footer">
      <div class="row">

          <p class="user">
            Requests
			<p><%= @post.get_upvotes.size %></p>
			<hr />
          </p>
          <%= link_to "Join Project", like_post_path(@post), method: :get, class: "btn btn-primary btn-block" %>
        </div>

  <% @post ||= current_user(@post) %>
  <div class="stats">
    <a href="<%= accepted_post_path(@post) %>">
      <strong id="following" class="stat">
        <%= @post.accepted.count %>
      </strong>
      following
    </a>
    <a href="<%= requester_post_path(@post) %>">
      <strong id="followers" class="stat">
        <%= @post.requester.count %>
      </strong>
      followers
    </a>
  </div>

    </div>
  </div>
</div>
